In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({"A":[1,np.nan, np.nan],"B":[1,2,np.nan]})

In [9]:
df.fillna(method='ffill', inplace=True)

In [10]:
df

     A    B
0  1.0  1.0
1  1.0  2.0
2  1.0  2.0